<div class="dashboard">
  <h2>Tableau de bord</h2>
  <div class="charts-container">
    <div class="chart-container">
      <h3>Cours par formation</h3>
      <canvas id="courseChart"></canvas>
    </div>
    <div class="chart-container">
      <h3>Certificats par test</h3>
      <canvas id="certificateChart"></canvas>
    </div>
    <div class="chart-container">
      <h3>Tests par formation</h3>
      <canvas id="testChart"></canvas>
    </div>
    <div class="chart-container">
      <h3>Utilisateurs et administrateurs</h3>
      <canvas id="userRoleChart"></canvas>
    </div>
    
  </div>
</div>










